server:
  port: ${SERVER_PORT:8080}
  address: 0.0.0.0
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    multipart:
      max-file-size: 10MB // 업로드할 수 있는 개별 파일의 최대 크기. 기본 1MB
      max-request-size: 10MB //multipart/form-data 요청의 최대 허용 크기. 기본 10MB
  # Nginx 뒤라면 'native' 추천. 프록시가 없다면 framework도 가능
  forward-headers-strategy: native

spring:
  application:
    name: carrot-server
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB   # 사진 10장 가정
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
  web:
    cors:
      allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}
      allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
      allowed-headers: "*"
      max-age: 3600
  messages:
    basename: messages
    encoding: UTF-8

  data:
    redis:
      host: localhost
      port: 6379

sms:
  api-key: ${SMS_API_KEY}
  api-secret-key: ${SMS_SECRET_KEY}
  sender: ${SMS_SENDER}

default-profile-image-url:

springdoc:
  api-docs.enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

jwt:
  issuer: carrot-server
  secret: ${JWT_SECRET}
  access-expiration: 15m    # 15분
  refresh-expiration: 14d   # 14일

# AWS S3
cloud:
  aws:
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    region:
      static: ap-northeast-2  # 버킷의 리전
    s3:
      bucket: mrokga-carrot2   # 버킷 이름
    stack:
      auto: false


kakaopay:
  host: https://kapi.kakao.com
  cid: TC0ONETIME
  admin-key: 29924c44406ee8cf5f986b861a44da8f
  base-url: http://localhost:8080/payment/kakao
